@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-rgb: 21, 129, 191;
  --secondary-rgb: 93, 26, 26;
  --text-dark-rgb: 233, 227, 240;
  --background-rgb: 18, 10, 28;
  --accent-rgb: 255, 108, 12;
}

body {
  min-height: 100dvh;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--text-dark-rgb));
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 640px) {
  #content {
    flex-direction: column;
    padding: 0;
  }

  #content {
    justify-content: start;
  }
}
