@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-rgb: 21, 129, 191;
  --secondary-rgb: 93, 26, 26;
  --text-dark-rgb: 233, 227, 240;
  --background-rgb: 18, 10, 28;
  --accent-rgb: 255, 108, 12;
}

body {
  min-height: 100dvh;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--text-dark-rgb));
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(var(--text-dark-rgb), 0.5);
}

header > img {
  height: 15px;
  width: 29px;
}

header > h1 {
  font-size: large;
  font-style: italic;
}

#content {
  flex: 1;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  gap: 1rem;
}

#sidebar {
  background-color: rgba(var(--text-dark-rgb), 0.12);
  width: 12rem;
  border-radius: 1rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-sizing: border-box;
}

.nav-item {
  color: rgb(var(--text-dark-rgb));
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.active-nav-item {
  background-color: rgba(var(--primary-rgb), 0.25);
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(var(--text-dark-rgb), 0.4);
}

#project-nav-container {
  width: 100%;
  flex: 1;
}

#main-content {
  max-width: 768px;
  width: 100%;
  padding: 0.25rem 3.5rem 0.25rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

#action-btn {
  color: rgb(var(--text-dark-rgb));
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(var(--primary-rgb));
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.task-item {
  width: 100%;
  background-color: rgba(var(--text-dark-rgb), 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem 0.75rem 1rem;
  box-sizing: border-box;
}

.task-item > h4 {
  font-size: 14px;
  font-weight: 600;
}

.task-right-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.task-right-container > span {
  display: flex;
  font-size: 0.75rem;
  border-right: 1px solid rgba(var(--text-dark-rgb), 0.4);
  padding-right: 0.5rem;
  gap: 0.25rem;
}

.task-title-container {
  display: flex;
  gap: 14px;
}

.task-right-container > img {
  size: 0.75rem;
}

.task-right-container > button {
  background: none;
  border: none;
  cursor: pointer;
}

.high-prio {
  border-left: 3px solid rgb(var(--secondary-rgb));
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgba(var(--text-dark-rgb), 0.4);
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover {
  background-color: rgba(var(--text-dark-rgb), 0.5);
}

input[type="checkbox"]:checked {
  background-color: rgba(var(--text-dark-rgb), 0.4);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='rgb(255,108,12)' d='M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
